{
    "all": true,
    "excludeAfterRemap": true,
    "include": [
        "src/**/*.{js,jsx,ts,tsx}"
    ],
    "exclude": [
        "cypress/**/*.{js,jsx,ts,tsx}",
        "src/**/*.cy.{js,jsx,ts,tsx}",
        "src/**/*.test.{js,jsx,ts,tsx}"
    ]
}