@import '../shared/variables.scss';

@media (max-width: $mobile-max-width-breakpoint) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: $mobile-min-width-breakpoint) {
    nav.navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    nav.navbar li a {
        padding: 10px 16px !important;
        border-radius: 4px;
    }
}

nav.navbar {
    position: fixed;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    padding: 5px 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

    @media (max-width: $mobile-max-width-breakpoint) {
        flex-direction: column;
    }

    h1 {
        margin: 0px;
    }

    a {
        font-weight: bold;
    }

    .container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        max-width: $content-max-width + 19px; //Added 19px to account for scrollbar.
        margin-right: 19px;
        margin-left: 0px;

        @media (max-width: $mobile-max-width-breakpoint) {
            flex-direction: column;
            margin-right: 0px;
        }

        .navbar-nav {
            display: flex !important;
            flex-direction: row;

            @media (max-width: $mobile-max-width-breakpoint) {
                width: 100%;
                flex-direction: column;
                margin-left: 7px;
                text-align: center;
            }
        }

        .navbar-header {
            // Margin hack to prevent the collapsible menu from changing the position of the header.
            margin-top: 7px;
            margin-bottom: 7px;

            @media (max-width: $mobile-max-width-breakpoint) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            @media (max-width: 400px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            h1 {
                margin: 0px;
            }

            .navbar-brand {
                padding: 0px 20px;
                width: 200px;
                display: flex;
                align-items: center;

                > img {
                    max-width: 300px;
                    max-height: 32px;
                    width: 169px;
                    height: 32px;
                }
            }
        }

        .navbar-collapse {
            width: 100%;
            border: none;
            //Above mobile width
            @media (min-width: $mobile-min-width-breakpoint) {
                display: flex !important;
                justify-content: flex-end;
            }
            //Below mobile width
            @media (max-width: $mobile-max-width-breakpoint) {
                margin-left: 0px;
                flex-basis: unset;
            }

            li {
                @media (max-width: $mobile-max-width-breakpoint) {
                    display: flex;
                    justify-content: center;
                }
            }

            a {
                cursor: pointer;
                position: relative;
                text-decoration: none;
                font-size: 18px;

                @media (max-width: $mobile-max-width-breakpoint) {
                    padding: 10px 20px;
                    font-size: 18px;
                }
            }

            @media (min-width: $mobile-min-width-breakpoint) {
                //Animated underline
                //https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
                a:after {
                    content: '';
                    position: absolute;
                    width: 80%;
                    margin-left: 10%;
                    height: 2px;
                    bottom: 2px;
                    left: 0;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }
                // Only underline the link that has the active class.
                a.active:after {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}

/**
    START - Handle theming.
*/
nav.navbar {
    transition:
        color $global-animation-time ease-in-out,
        background-color $global-animation-time ease-in-out,
        border-color $global-animation-time ease-in-out;
    will-change: color, background-color, border-color;
    background: $light-secondary-background-colour;
    color: $light-navbar-font-colour;
    border: 1px solid $light-secondary-background-colour;

    a {
        transition:
            color $global-animation-time ease-in-out,
            background-color $global-animation-time ease-in-out,
            border-color $global-animation-time ease-in-out;
        will-change: color, background-color, border-color;
        color: $light-navbar-font-colour;
    }

    a:hover,
    a.active:hover,
    a.active,
    a:focus {
        color: $light-navbar-font-colour-hover !important;
        background-color: $light-navbar-background-colour !important;
    }

    .container-fluid {
        .navbar-collapse {
            @media (min-width: $mobile-min-width-breakpoint) {
                a:after {
                    background-color: $light-navbar-font-colour-hover;
                }
            }
        }
    }

    .navbar-toggler {
        border-color: #a2a2a2;
        transition: border-color $global-animation-time ease-in-out;
        will-change: border-color;
    }
}

.theme-container.dark-theme {
    nav.navbar {
        transition:
            color $global-animation-time ease-in-out,
            background-color $global-animation-time ease-in-out,
            border-color $global-animation-time ease-in-out;
        will-change: color, background-color, border-color;
        color: $dark-navbar-font-colour;
        background-color: $dark-navbar-background-colour;
        border: 1px solid $dark-navbar-background-colour;

        a {
            transition:
                color $global-animation-time ease-in-out,
                background-color $global-animation-time ease-in-out,
                border-color $global-animation-time ease-in-out;
            will-change: color, background-color, border-color;
            color: $dark-navbar-font-colour !important;
        }

        a:hover,
        a.active:hover,
        a.active,
        a:focus {
            color: $dark-navbar-font-colour-hover !important;
            background-color: $dark-navbar-background-colour !important;
        }

        .container-fluid {
            .navbar-collapse {
                @media (min-width: $mobile-min-width-breakpoint) {
                    a:after {
                        background-color: $dark-navbar-font-colour-hover;
                    }
                }
            }
        }

        .navbar-toggler {
            border-color: #333;
            transition: border-color $global-animation-time ease-in-out;
            will-change: border-color;
        }
    }
}

/**
    END - Handle theming.
*/

.navbar-expand-md .navbar-toggler {
    @media (min-width: $mobile-min-width-breakpoint) {
        display: none !important;
    }
}
