@import '../shared/variables.scss';

@mixin transition-properties($properties) {
    $transition-list: ();
    @each $prop in $properties {
        $transition-list: append($transition-list, $prop $global-animation-time ease-in-out, comma);
    }
    transition: $transition-list;
    will-change: $properties;
}

// Light theme styles
.theme-container {
    color: $light-primary-font-colour;
    background-color: $light-primary-background-colour;
    @include transition-properties((color, background-color));

    .content-container h2 {
        border-bottom: 3px solid $light-navbar-font-colour-hover;
        @include transition-properties((border-bottom));
    }

    input,
    textarea {
        background-color: $light-secondary-background-colour;
        color: $light-primary-font-colour;
        border: $light-border;
        @include transition-properties((color, background-color, border));
    }

    .project-summary-tile,
    .skill-summary-tile,
    .skillarea-summary-tile {
        background-color: $light-secondary-background-colour;
        border: $light-border;
        @include transition-properties((background-color, border));
    }

    .about .socials > a > div {
        background-color: $light-secondary-background-colour;
        box-shadow: 4px 4px 12px -4px rgba(0, 0, 0, 0.3);
        @include transition-properties((background-color, box-shadow));
    }

    ul.skillarea-summary-tile-techs > li {
        color: $standard-blue-background;
        @include transition-properties((color));

        > span {
            color: $light-primary-font-colour;
            @include transition-properties((color));
        }
    }

    footer {
        background-color: $light-secondary-background-colour;
        @include transition-properties((background-color));

        a {
            color: $standard-blue-background;
            @include transition-properties((color));
        }

        .socials-footer > a > div {
            background-color: $light-secondary-background-colour;
            @include transition-properties((background-color));
        }
    }

    nav.navbar {
        background: $light-secondary-background-colour;
        color: $light-navbar-font-colour;
        border: 1px solid $light-secondary-background-colour;

        @include transition-properties((color, background-color, border-color));

        a {
            color: $light-navbar-font-colour;

            @include transition-properties((color, background-color, border-color));
        }

        a:hover,
        a.active:hover,
        a.active {
            color: $light-navbar-font-colour-hover !important;
            background-color: $light-navbar-background-colour !important;
        }

        .container-fluid {
            .navbar-collapse {
                @media (min-width: $mobile-min-width-breakpoint) {
                    a:after {
                        background-color: $light-navbar-font-colour-hover;
                    }
                }
            }
        }

        .navbar-toggler {
            border-color: #a2a2a2;

            @include transition-properties((border-color));
        }
    }
}

// Dark theme adjustments
.theme-container.dark-theme {
    color: $dark-primary-font-colour;
    background-color: $dark-primary-background-colour;

    input,
    textarea {
        background-color: $dark-secondary-background-colour;
        color: $dark-primary-font-colour;
        border: $dark-border;
    }

    .project-summary-tile,
    .skill-summary-tile,
    .skillarea-summary-tile {
        background-color: $dark-secondary-background-colour;
        border: $dark-border;
    }

    .about .socials > a > div {
        background-color: $dark-secondary-background-colour;
        border: $dark-border;
    }

    ul.skillarea-summary-tile-techs > li > span {
        color: $dark-primary-font-colour;
    }

    footer .socials-footer > a > div {
        background-color: $dark-secondary-background-colour;
    }

    footer {
        background-color: $dark-navbar-background-colour;
    }

    nav.navbar {
        color: $dark-navbar-font-colour;
        background-color: $dark-navbar-background-colour;
        border: 1px solid $dark-navbar-background-colour;

        a {
            color: $dark-navbar-font-colour !important;
        }

        a:hover,
        a.active:hover,
        a.active {
            color: $dark-navbar-font-colour-hover !important;
            background-color: $dark-navbar-background-colour !important;
        }

        .container-fluid {
            .navbar-collapse {
                @media (min-width: $mobile-min-width-breakpoint) {
                    a:after {
                        background-color: $dark-navbar-font-colour-hover;
                    }
                }
            }
        }

        .navbar-toggler {
            border-color: #333;
        }
    }
}
