@import 'variables.scss';

.contact-info {
    display: flex;
    justify-content: space-around;
    flex: 1 0 30%;
    flex-direction: column;

    @media (max-width: 800px) {
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 20px;
        flex: 1 0 auto; //IE fix
    }

    > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $global-hyperlink-colour;
        margin: 10px;

        > i {
            font-size: 21px;
        }

        > div {
            @media (max-width: 450px) {
                display: none;
            }
        }
    }
}

.about {
    .contact-info {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 60px;
        flex-wrap: wrap;

        > a {
            > div {
                background: $dark-secondary-background-colour;
                padding: 20px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 4px 4px 12px -4px rgba(0, 0, 0, $box-shadow-color);
                border: 2px solid rgba(204, 204, 204, 0.1);

                > i {
                    font-size: 28px;
                }
            }
        }
    }
}

.contact-form {
    flex: 1 0 70%;

    @media (max-width: 800px) {
        flex: 1 0 auto; //IE fix
    }

    textarea {
        height: 100px;
        max-width: 100%;
    }

    .submit-email-btn {
        background-color: $standard-blue-background;
        color: #ffffff;
    }

    .form-error-message {
        opacity: 0;
        min-height: 22px;
        margin-top: 8px;
        color: #fb5353;
    }
}

.contact-form-info-container {
    .contact-form-info {
        display: flex;
        flex-direction: row;

        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
}

.contact-info-form-info {
    display: flex;
    flex-direction: row;
}

.form-control::placeholder {
    color: #6c757d !important;
}

.form-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .form-group {
        width: 49%;

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;
    }
}
