@import 'variables.scss';

.form-group {
    margin-bottom: 15px;
}

.portfolio-btn {
    background-color: $standard-blue-background;
    color: #ffffff;
    border-color: $standard-blue-background;
}
